src/autoyast-rnc/nfs_server.rnc


include "common.rnc"

# NFS Server
nfs_server =
  element nfs_server {
    MAP,
    (
      element nfs_exports { LIST, nfs_export+ } &
      element start_nfsserver { BOOLEAN }?
    )
  }

nfs_export =
  element nfs_export {
    MAP,
    (
      element mountpoint { STRING } &
      element allowed { LIST, element allowed_clients { STRING }+ }
    )
  }
